@font-face {
    font-family: Helvetica Neue;
    src: url(fonts/FreeSans.otf);
}

* {
    box-sizing: border-box;
}

.body {
    background-image: url(images/mount.png), url(images/bg-01.png);
    background-repeat: no-repeat, repeat;
    background-position: bottom center, top center;
    background-size: 100% auto, 100% 100%;
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.pe-6 {
    padding-right: 80px;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1530px;
    }
}

.clear-both {
    clear: both;
}

* input:focus, * select:focus {
    outline: none
}


/* header  */

header {
    padding-top: 65px;
    border-bottom: 1px #fff solid;
    padding-bottom: 55px;
}

ul.menu {
    width: 484px;
    justify-content: space-between;
}

@media(max-width: 901px) {
    ul.menu {
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }
}

.menu a {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #FFFFFF;
}

.menu .active a, .menu a:hover, .language .active a, .language a:hover {
    -webkit-text-stroke: 1px;
}


.language a {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: block;
    margin-top: 5px;
}

.language li:first-child a::after {
    content: "/";
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.language .active a {
    -webkit-text-stroke: 1px;
}

ul.language {
    margin-left: 40px;
}

@media(max-width:901px) {
    ul.language {
        margin-left: 0px;
    }
}

.form {
    display: flex;
    padding-top: 102px;
    padding-bottom: 100px;
}

.form.transfer {
    padding-bottom: 30px;
}

.form.passenger {
    padding-top: 0px;
}

.show-mobile-menu {
    display: none;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

i.bi.bi-list {
    position: relative;
    width: 26px;
    height: 16px;
    border-top: 2px #000 solid;
    display: block;
    border-bottom: 2px #000 solid;
}

i.bi.bi-list::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
}

.hide-mobile-menu {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
}

i.bi.bi-close {
    position: relative;
    width: 26px;
    height: 26px;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

i.bi.bi-close::before, i.bi.bi-close::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    top: 13px;
}

i.bi.bi-close::before {
    transform: rotate(45deg);
}

i.bi.bi-close::after {
    transform: rotate(-45deg);
}

@media(max-width: 901px) {
    nav.navigation {
        position: fixed;
        width: 100%;
        background-color: #90bbff;
        padding: 30px;
        display: block !important;
        height: 100%;
        top: 0px;
        left: -110%;
        align-items: flex-start !important;
        z-index: 999;
        transition: all .3s;
    }

    nav.navigation.show {
        left: 0px;
    }

    .show-mobile-menu, .hide-mobile-menu {
        display: block;
    }
}


/* forms  */

.form-title {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    border-bottom: 1px #fff solid;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.form-column-1 {
    width: 100%;
    max-width: 908px;
}

@media(max-width:1480px) {
    .form-column-1 {
        max-width: 669px;
    }
}

.form-column-2 {
    width: 100%;
    max-width: 420px;
}

.error {
    border: 1px #A40A08 solid !important;
    position: relative;
}

.error::after {
    content: "*Required";
    font-family: Helvetica Neue;
    display: block;
    font-size: 14px;
    color: #A40A08;
    position: absolute;
    bottom: -30px;
    left: 0px;
}

/* passenger details page  */

.form-slides {
    position: relative;
    width: 100%;
}

/* @media(max-width:1178px) {
    .form-slides {
        position: relative;
        width: 100%;
        height: 900px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
} */

/* @media(max-width:706px) {
    .form-slides {
        position: relative;
        width: 100%;
        height: 1120px;
    }
} */

/* .passenger {
    display: none;
} */

.passenger .form-column-2 {
    width: 100%;
    max-width: 508px;
}

@media(max-width:1490px) {
    .form-column-2 {
        max-width: 303px;
    }

    .passenger .form-column-2 {
        max-width: 415px;
    }
}

.form-input-container {
    width: 100%;
    max-width: 378px;
}

.passenger .form-input-container {
    max-width: 428px;
}

.passenger .form-column-2 .form-input-container {
    max-width: 486px;
}

@media(max-width:1490px) {
    .form-input-container {
        max-width: 300px;
    }

    .passenger .form-input-container, .passenger .form-column-2 .form-input-container {
        max-width: 404px;
    }
}

.form-input-container>label i {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.form input[type=text], .form input[type=time], .form input[type=date], .form input[type=number], .form input[type=email], .form select {
    border: none;
    border-bottom: 1px #eee solid;
    background-color: #fff;
    box-shadow: none;
    width: 100%;
}

.form select option {
    font-size: 14px;
}


.form input[type=text]::-webkit-input-placeholder, .form select {
    /* Chrome/Opera/Safari */
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #122F72;
    opacity: 0.5;
}

.form select {
    height: 27px;
    opacity: 1;
    font-size: 21px;
}

.form input[type=text]::-moz-placeholder {
    /* Firefox 19+ */
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #122F72;
    opacity: 0.5;
}

.form input[type=text]:-ms-input-placeholder {
    /* IE 10+ */
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #122F72;
    opacity: 0.5;
}

.form input[type=text]:-moz-placeholder {
    /* Firefox 18- */
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #122F72;
    opacity: 0.5;
}

.form-input {
    width: 378px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 8px 10px;
    position: relative;
}

.passenger .form-input {
    width: 428px;
}

.passenger .form-column-2 .form-input {
    width: 486px;
}

@media(max-width:1490px) {
    .form-input {
        width: 300px;
        margin-bottom: 30px;
    }

    .passenger .form-input, .passenger .form-column-2 .form-input {
        width: 404px;
    }
}

@media(max-width: 901px) {
    .passenger .form-input, .passenger .form-column-2 .form-input {
        width: 100%;
    }
}


.form-input2 input[type=text] {
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    background-color: transparent;
    text-align: right;
    color: #A40A08;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    height: 28px;
    font-size: 20px;
}

.form-input2 label {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #122F72;
    opacity: 0.7;
}

.form-input2 span {
    color: #A40A08;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    height: 28px;
    font-size: 20px;
    display: block;
    float: right;
}

div#change_loc_dest_val {
    width: 48px;
    height: 48px;
    margin-top: 24px;
    background-image: url(images/arrows.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.form-submit button {
    background: rgba(164, 10, 8, 0.5);
    border-radius: 20px;
    width: 233px;
    height: 53px;
    font-family: Helvetica Neue;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    box-shadow: none;
    border: none;
    text-align: center;
    justify-content: center;
}

.form-submit {
    margin-top: 100px;
}

.passenger .form-submit {
    margin-top: 126px;
}

.form-input .children-number-text {
    position: absolute;
    /* background: rgba(164, 10, 8, 0.4); */
    height: 30px;
    width: 48px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #db9d9c;
    overflow: hidden;
    cursor: pointer;
    z-index: 9;
}

.form-input .children-number-text-left {

    right: 71px;
    top: 5px;
}

.form-input .children-number-text-right {
    right: 21px;
    top: 5px;
}

.form-input .up, .form-input .down {
    position: absolute;
    background: rgba(164, 10, 8, 0.4);
    height: 27px;
    width: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 0px;
    overflow: hidden;
    cursor: pointer;
    z-index: 9;
}

.form-input .up {
    right: 15px;
    top: 5px;
}

.form-input .up::after, .form-input .down::after {
    content: "";
    display: block;
    height: 2px;
    width: 19px;
    background-color: #fff;
}

.form-input .up::before {
    content: "";
    display: block;
    height: 2px;
    width: 19px;
    background-color: #fff;
    transform: rotate(90deg);
    position: absolute;
}

.form-input .down {
    right: 80px;
    top: 5px;
}

.form-input3 input[type=text] {
    font-family: Helvetica Neue;
    font-style: normal;
    right: 36px;
    left: auto;
    width: 50px;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #122F72;
    border-bottom: none;
}

.form-input3::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #eee;
    position: absolute;
    bottom: 7px;
    left: 15px;
    width: calc(100% - 30px);
}

.children-options-container {
    position: absolute;
    display: none;
    left: 0px;
    top: 34px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 20px;
    z-index: 99;
}


.children-options-container .up, .children-options-container .down {
    background-color: rgb(144 192 220 / 59%);
}

.children-options-container input[type=text] {
    color: rgb(144 192 220 / 59%);
}

.children-options-container .form-input3::after {
    display: none;
}

.children-options-container .form-input3 label {
    width: 186px;
    justify-content: space-between;
    display: inline-flex;
}

@media(max-width: 901px){
    .children-options-container .form-input3 label{
        flex-direction: column;
    }
}

.children-options-container .form-input3 label span {
    font-size: 14px;
    font-style: italic;
    color: #509cc8;
    float: none;
    line-height: 20px;
}

.children-options-container .form-input3 label span:last-child {
    font-size: 14px;
    line-height: 16px;
}

@media(max-width: 901px){
    .children-options-container .form-input3 label span{
        line-height: 16px;
        height: 18px;
    }
}




.privacy-text {
    margin-top: 44px;
}

.privacy-text span {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.privacy-text span a {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-decoration-line: underline;

    color: #FFFFFF;
}



.about-us {
    background-image: url(images/grain-01.png), url(images/khinkali.png), url(images/bg-01.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: top right, top right, top center;
    background-size: 100% 100%, 100% 100%, 100% 100%;
}


@media(max-width:1025px) {
    .about-us {
        background-image: none, none, url(images/bg-01.png);
    }
}

.about p {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

@media(max-width:901px) {
    .about p {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
}




.contact-us {
    background-image: url(images/grain-01.png), url(images/svaneti-01.png), url(images/bg-01.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: bottom center, bottom center, top center;
    background-size: 100% auto, 100% auto, 100% 100%;
}


.contact-list {
    margin-top: 80px;
    margin-bottom: 400px;
}

@media(max-width:1200px) {
    .contact-list {
        margin-bottom: 40px;
    }
}

.contact-list li {
    margin-bottom: 32px;
}

.contact-list li span {
    display: inline-block;
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}

.contact-list li .icon {
    width: 25px;
    height: 25px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-position: top left;
}

.contact-list li #phone {
    background-image: url(images/phone.png);
}

.contact-list li #mail {
    background-image: url(images/envelope.png);
}

.contact-list li #internet {
    background-image: url(images/internet.png);
}





.payment-details {
    background-image: url(images/grain-01.png), url(images/signagi.png), url(images/bg-01.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: bottom center, bottom center, top center;
    background-size: 100% auto, 100% auto, 100% 100%;
}

.col-payment-1 {
    width: 100%;
    max-width: 508px;
}

.payment-container {
    margin-top: 70px;
}

.payment-det-list .key {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: bold;
    width: 126px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-right: 100px;
    display: block;
}

.payment-det-list .text {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.025em;
    display: block;
    color: #FFFFFF;
}

.payment-det-list .text i:not(:first-child) {
    display: block;
    margin-top: 12px;
}

.payment-det-list li {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 54px;
}

@media(max-width:976px) {
    .payment-det-list li {
        margin-bottom: 20px;
    }
}

.payment-container hr {
    background-color: #fff;
}

.col-payment-2 {
    width: 100%;
    max-width: 614px;
}

/* .payment-card {
    width: 100%;
    min-height: 387px;
    background-image: url(images/card-01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */
.payment-card-form {
    width: 100%;
    min-height: 387px;
    background-image: url(images/card-01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.payment-input {
    background-color: transparent !important;
    border: none !important;
    font-family: Helvetica Neue;
    font-style: italic !important;
    font-weight: bold !important;
    font-size: 36px !important;
    line-height: 44px !important;
    /* identical to box height */
    letter-spacing: 0.04em !important;

    color: #FFFFFF !important;
}

.payment-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Helvetica Neue;
    font-style: italic !important;
    font-weight: bold !important;
    font-size: 36px !important;
    line-height: 44px !important;
    /* identical to box height */
    letter-spacing: 0.04em !important;
    color: #FFFFFF !important;
}

.payment-input:-ms-input-placeholder {
    font-family: Helvetica Neue;
    font-style: italic !important;
    font-weight: bold !important;
    font-size: 36px !important;
    line-height: 44px !important;
    /* identical to box height */
    letter-spacing: 0.04em !important;
    color: #FFFFFF !important;
}

.payment-input::-ms-input-placeholder {
    font-family: Helvetica Neue;
    font-style: italic !important;
    font-weight: bold !important;
    font-size: 36px !important;
    line-height: 44px !important;
    /* identical to box height */
    letter-spacing: 0.04em !important;
    color: #FFFFFF !important;
}

.payment-card-form-number {
    padding-top: 214px;
    padding-left: 48px;
    padding-right: 48px;
}


.payment-card-form-date {
    margin-top: 16px;
    margin-left: 49px;
    display: flex;
}

.payment-card-form-date label {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    white-space: nowrap;
    display: block;
    position: relative;
}

.payment-card-form-date label::after {
    content: "/";
    display: block;
    color: #fff;
    position: absolute;
    right: -38px;
    font-size: 22px;
    top: 2px;
}

input.payment-card-form-date-input.payment-input {
    width: 35px;
    height: 25px;
    font-family: Helvetica Neue !important;
    font-style: italic;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 29px !important;
    letter-spacing: 0.07em !important;
    color: #FFFFFF;
}

input.payment-card-form-date-input.payment-input::placeholder {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 29px !important;
    letter-spacing: 0.07em !important;
    color: #FFFFFF !important;
}

input.payment-card-form-date-input.payment-input:-ms-input-placeholder {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
}



.payment-card-form-name {
    margin-left: 48px;
    margin-top: 13px;
}

.payment-card-form-cvv {
    width: 322px;
    height: 51px;
    float: right;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.payment-card-form-cvv::after {
    content: "";
    display: block;
    height: 1px;
    width: 90%;
    top: 35px;
    left: calc(100% - 95%);
    background-color: #fff;
    position: absolute;
}

.payment-card-form-cvv label {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    text-transform: uppercase;
}

input.payment-card-form-cvv-input.payment-input {
    border-left: 2px #e2e2e2 solid !important;
    height: 20px;
    margin-left: 8px;
    padding-left: 8px;
    font-size: 26px !important;
}

.payment-card-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 50px;
}

.payment-card-button button, .success-button {
    background: rgba(164, 10, 8, 0.5);
    border-radius: 20px;
    width: 233px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.07em;
    border: none;

    color: #FFFFFF;
}



.payment-success-popup {
    display: none;
}

.close-popup {
    display: block;
    position: absolute;
    right: 6px;
    top: 12px;
    overflow: hidden;
    height: 30px;
    width: 40px;
    cursor: pointer;
}

.close-popup::after {
    content: "";
    width: 3px;
    height: 28px;
    transform: rotate(45deg);
    display: block;
    background-color: #adacac;
    position: absolute;
    top: 0px;
    left: 16px;
}

.close-popup::before {
    content: "";
    width: 3px;
    height: 28px;
    transform: rotate(-45deg);
    display: block;
    background-color: #adacac;
    position: absolute;
    top: 0px;
    left: 16px;
}

.payment-success {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

.payment-success-container {
    position: relative;
    width: 100%;
    max-width: 865px;
    height: 501px;
    max-height: 90%;
    text-align: center;
    background-image: url(images/thanku-01.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 546px auto;
    border-radius: 16px;
    background-color: #ffffff;
}

.payment-success-container h1 {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 184px;
    color: #A7D6AF;
}

@media(max-width:701px) {
    .payment-success-container h1 {
        font-family: Helvetica Neue;
        font-style: italic;
        font-weight: 500;
        font-size: 25px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.05em;
        margin-top: 200px;
        color: #A7D6AF;
    }
}

@media(max-width:580px) {
    .payment-success-container h1 {
        font-family: Helvetica Neue;
        font-style: italic;
        font-weight: 500;
        font-size: 25px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.05em;
        margin-top: 180px;
        color: #A7D6AF;
    }
}

.payment-success-container label {
    font-family: Helvetica Neue;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #95B1DE;
    margin-top: 20px;
}

.success-input {
    width: 378px;
    height: 44px;
    border-radius: 15px;
    padding: 8px 10px;
    position: relative;
    border: none;
    background-color: rgb(235, 235, 235);
    box-shadow: none;
    display: inline-block;
}

.success-button {
    display: inline-flex;
    height: 44px;
}




/* date picker */
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    text-align: center;
    color: #A40A08;
    font-family: Helvetica Neue;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px !important;
    /* identical to box height */
    opacity: 0.7;
}


.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    width: 20px !important;
    overflow-x: hidden;
}

.ui-datepicker .ui-datepicker-next span {
    display: block;
    background-color: #A40A08;
    position: absolute;
    transform: rotate(45deg);
    left: 0% !important;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-prev span {
    display: block;
    background-color: #A40A08;
    position: absolute;
    transform: rotate(45deg);
    left: 100% !important;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-widget-header {
    border: none !important;
    background: #fff !important;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px #fff solid !important;
    background: transparent !important;
    font-weight: normal !important;
    color: #509cc8 !important;
    border-radius: 50%;
    text-align: center !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #ddd !important;
    background: #eee !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #A40A08 !important;
    background: #A40A083b !important;
    font-weight: normal;
}

.ui-datepicker-calendar th {
    color: #A40A08a6;
}

.ui-widget.ui-widget-content {
    border: 0px !important;
    border-radius: 15px;
    z-index: 999 !important;
    padding-top: 5px !important;
}



/* timepicker */

.timepicker .icon-up, .timepicker .icon-down {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45%;
    opacity: .4;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-image: none;
}

.timepicker .icon-up::after {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #A40A08;
    transform: rotate(45deg);
    top: 24px;
    left: 7px;
}

.timepicker .icon-down::after {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #A40A08;
    transform: rotate(45deg);
    top: -8px;
    left: 7px;
}

.timepicker .chose-all .text, .timepicker .text a {
    font: normal 23px /31px arial, sans-serif;
    clear: both;
    height: 36px;
    color: #A40A08;
}

.timepicker li.cell-2, .timepicker .handle {
    position: relative;
    color: #A40A08;
}

.timepicker li.cell-2:hover {
    background: #ccc;
}



.mbsc-scroller-wheel-item.mbsc-ios>div {
    display: none;
}

.mbsc-ios.mbsc-scroller-wheel-item-3d {
    color: #6d6d6d;
}

.mbsc-scroller-wheel-group-3d {
    -webkit-perspective: none;
    perspective: none;
}

/* .mbsc-ios.mbsc-scroller-bottom, .mbsc-ios.mbsc-scroller-top {
    background: #f7f7f7;
}

.mbsc-ios.mbsc-scroller-wheel-overlay-bottom, .mbsc-ios.mbsc-scroller-wheel-overlay-top {
    background: linear-gradient(#fff,hsla(0,0%,100%,0) 52%,hsla(0,0%,100%,0) 0,#fff);
}  */

/* .mbsc-scroller-wheel-wrapper-2 .mbsc-scroller-bar-cont.mbsc-ltr{ */
/* display: none;
}
.mbsc-scroller .mbsc-scroller-wheel, .mbsc-scroller .mbsc-scroller-wheel-cont{

} */